@{
    ViewBag.Title = "Home Page";
}




    <!-- Column -->
  @*<div class="col-lg-4 d-flex justify-content-center align-items-center">
    <div class="card">
    
                <h3 class="m-b-0">Rabia Işıldar</h3>
                <p>Narkotik &amp; Yönetici</p>
                <p><small></small></p> <a href="javascript:void(0)" class="m-t-10 waves-effect waves-dark btn btn-primary btn-md btn-rounded">Detaylar </a>
                <div class="row text-center m-t-20">
                 
                </div>
            </div>
        </div>
    </di*@
    @*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <div class="chart-container" style="float: left;">
            <canvas id="pastaGrafigi" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
        </div>


        <script>
            var ctx = document.getElementById('pastaGrafigi').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ['Birimler', 'İçerikler', 'Yöneticiler'], // Örnek veriler
                    datasets: [{
                        label: 'Pasta Dilimi Grafiği',
                        data: [30, 40, 15], // Örnek veri değerleri
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.7)', // Kırmızı tonunda, %70 şeffaflık
                            'rgba(54, 162, 235, 0.2)', // Mavi tonunda, %70 şeffaflık
                            'rgba(255, 206, 86, 0.2)' // Sarı tonunda, %70 şeffaflık
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)', // Kırmızı tonunda, tamamen opak
                            'rgba(54, 162, 235, 1)', // Mavi tonunda, tamamen opak
                            'rgba(255, 206, 86, 1)' // Sarı tonunda, tamamen opak
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    // Grafiğin görünümüyle ilgili özelleştirmeler burada yapılabilir
                }
            });*@


    @*</script>*@


    @*<main>
            <section class="row" aria-labelledby="aspnetTitle">
                <h1 id="title">ASP.NET</h1>
                <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
                <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
            </section>

            <div class="row">
                <section class="col-md-4" aria-labelledby="gettingStartedTitle">
                    <h2 id="gettingStartedTitle">Getting started</h2>
                    <p>
                        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                        enables a clean separation of concerns and gives you full control over markup
                        for enjoyable, agile development.
                    </p>
                    <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
                </section>
                <section class="col-md-4" aria-labelledby="librariesTitle">
                    <h2 id="librariesTitle">Get more libraries</h2>
                    <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                    <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
                </section>
                <section class="col-md-4" aria-labelledby="hostingTitle">
                    <h2 id="hostingTitle">Web Hosting</h2>
                    <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                    <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
                </section>
            </div>
        </main>*@
